@import url("//hello.myfonts.net/count/335515");

@font-face {font-family: 'NewBaskervilleStd-Bold';src: url('../webfonts/335515_0_0.eot');src: url('../webfonts/335515_0_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/335515_0_0.woff2') format('woff2'),url('../webfonts/335515_0_0.woff') format('woff'),url('../webfonts/335515_0_0.ttf') format('truetype');}
@font-face {font-family: 'NewBaskervilleStd-BoldIt';src: url('../webfonts/335515_1_0.eot');src: url('../webfonts/335515_1_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/335515_1_0.woff2') format('woff2'),url('../webfonts/335515_1_0.woff') format('woff'),url('../webfonts/335515_1_0.ttf') format('truetype');}
@font-face {font-family: 'NewBaskervilleStd-Italic';src: url('../webfonts/335515_2_0.eot');src: url('../webfonts/335515_2_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/335515_2_0.woff2') format('woff2'),url('../webfonts/335515_2_0.woff') format('woff'),url('../webfonts/335515_2_0.ttf') format('truetype');}
@font-face {font-family: 'NewBaskervilleStd-Roman';src: url('../webfonts/335515_3_0.eot');src: url('../webfonts/335515_3_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/335515_3_0.woff2') format('woff2'),url('../webfonts/335515_3_0.woff') format('woff'),url('../webfonts/335515_3_0.ttf') format('truetype');}

/* typography */
body {
	font-family: NewBaskervilleStd-Roman;
	font-size: 18px;
	font-weight: 300;
	color: #000;
	line-height: 27px;
	letter-spacing: .005em;
	padding-top: 88px; 
}
h1, h2, h3 {
	font-family: NewBaskervilleStd-Bold;
	margin: 0;
}
h1 {
	font-size: 40px;
}
h2 { 
	font-size: 30px; 
}

h3 {
	font-size: 24px;
}
h3 span {
	font-family: NewBaskervilleStd-Italic;
}
h4 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	font-size: 14px;
	text-transform: uppercase;
}
a { 
	color: #b3995d;
}
a:hover {
	color: #bba36e;
	text-decoration: none;
}
.container > p {
	padding: 25px 150px 0;
}

hr {
	width: 26%;
	margin: 10px 0;
	border: 0;
	border-top: 2px solid #8b8178;
}

hr.thick {
	border: 0;
	border-top: 4px solid #b3995d;
	width: 152px;
	margin: 10px 0;
}
#footer hr.thick {
	margin: 20px 0;
}

input[type='text'], input[type='email'], input[type='password'], textarea {
	border: 0!important;
	margin-bottom: 20px;
}

input[type='text'], input[type='email'], input[type='password'] {
	height: 40px;
}

.bg-gray {
	background: #ebebeb;
}

.bg-darker-gray {
	background: #bfbfbf;
}

.gold {
	color: #6d6258;
}

.open-sans {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 26px;
	letter-spacing: .02em;
}

.roman { font-family: NewBaskervilleStd-Roman; }

.date {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	color: #6d6258;
	text-transform: uppercase;
}

/* buttons */
.btn-gold {
	background: #b3995d;
	color: #fff;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	letter-spacing: .07em;
	display: inline-block;
	margin-right:15px;
}

.btn-gold:hover {
	background: #bba36e;
}

.btn-brown {
	font-size: 17px;
	background: #6d6258;
	color: #fff;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	letter-spacing: .06em;
}

.btn-brown:hover {
	background: #554d45;
	color: #fff;
}


/* header */
#header {
	position: fixed;
	height: 88px;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1030;
	background: rgba(255,255,255,.9);
}

#header.affix {
	height: 60px;
}

#header .container {
	position: relative;
	height:88px;
}

#header.affix .container{
	height:60px;
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.menu-button {
	position: absolute;
	right: 50px;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	cursor: pointer;
	width: 50px;
	height: 50px;
	background-image: url('../images/icon-menu.png');
	background-position:  center center;
	background-repeat: no-repeat;
}

.menu-body {
	margin: 0;
	border: none;
	border-radius: 0;
	-webkit-box-shadow: 0 0 0 rgba(0, 0, 0, .175);
    box-shadow: 0 0 0 rgba(0, 0, 0, .175);
	width: 100%;
	background: #fff;
	background: rgba(255,255,255,.9);
	padding: 115px 0;
	text-align: center;
	font-size: 36px;
	font-family: NewBaskervilleStd-Italic;
}

.menu-body li {
	border-bottom: 10px solid #fff;
	padding: 15px;
}

.menu-body li.last {
	border-bottom: none;
}

.menu-body a {
	color: #a1a1a1;
}

.menu-body a:hover {
	color: #555555;
}

.menu-body .social-links a {
	font-size: 18px;
	color: #b49a5e;
	margin:0;
}

/* banners */
#banner {
	text-align: center;
}

.banner-home {
	padding: 0 30px;
	position: relative;
}

.banner-home .banner-text {
	width: 100%;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	z-index: 2;
	top: 20%;
	color: #fff;
}

.banner-home h1 {
	font-size: 50px;
	margin-bottom: 30px;
}

.banner-home a {
	border: 2px solid #fff;
	text-transform:uppercase;
	padding: 10px 24px;
	color: #fff;
}

.banner-home a:hover {
	background: rgba(255,255,255,.2);
	text-decoration: none;
}

.banner {
	position: relative;
	width: 100%;
}

.banner > img, .banner-home > img {
	width: 100%;
}

.banner-text {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}
.banner .banner-text {
	color: #fff;
	position: absolute;
	bottom: 35px;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	z-index: 2;
}

/* content */
.home-pages {
	margin-top: 35px;
}

.home-page {
	background: #fff;
	margin: 28px 15px;
}

.home-page h3 a, .box-wine h3 a {
	color: #000;
}
.home-page .btn {
	opacity: 0;
	padding: 10px 30px;
}

.home-page .description {
	padding: 43px 40px;
	text-align: left;
}

.description p {
	display: inline;
}

.home-page:hover .btn {
	opacity: 1;
}

.home-page:hover img {
	opacity: .6;
}

#instafeed {
	margin: -13px;
}

#instafeed > div {
	padding: 13px;
	float: left;
	width: 25%;
}


/* content - our land */
.ourland img {
	width: 100%;
}

.ourland {
	clear: both;
	margin: 0 -15px;
	display: flex;
	display: -webkit-box;
	display: -moz-box;   
	display: -ms-flexbox;
	display: -webkit-flex;
}

.ourland .col-1 {
	width: 43%;
	position: relative;
	float: left;
}

.ourland .col-2 {
	width: 57%;
	float: left;
	position: relative;
}

.ourland .col-1.even {
	position:absolute;
	right: 0;
}
.ourland .text {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	right: 80px;
	max-width: 75%;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 30px;
}

.ourland .odd {
	background: #ebebeb;
}

.ourland .odd .text {
	left: 80px;
	right: auto;
}

/* content our adventure */
#content-adventure .container {
	padding: 0 25px 70px;
}

#content-adventure .row {
	margin-top: -25px;
}

#content-adventure .col-md-4 {
	padding: 25px;
}

#content-adventure-page h1 {
	font-family: NewBaskervilleStd-Roman;
	margin-bottom: 10px;
}
#content-adventure-page p {
	margin-bottom: 20px;
}

#content-adventure-page .content {
	line-height: 30px;
	letter-spacing: .02em;
	max-width: 400px;
}

.side-photos img {
	width: 100%;
	margin-bottom: 50px;
}

/* content - our story, carousel */
.carousel {
	margin: 50px -22px 80px;
}

.carousel-control .icon-prev, .carousel-control .icon-next {
	width: 29px;
	height: 69px;
	margin-top: -34px;
}

.carousel-control.left, .carousel-control.right {
	background: none;
}

.carousel-indicators {
	bottom: -60px;
}
.carousel-indicators li {
  width: 12px;
  height: 12px;
  margin: 6px;
  border: 2px solid #6f6f6f;
  border-radius: 12px;
}
.carousel-indicators .active {
  width: 14px;
  height: 14px;
  margin: 5px;
  background-color: #6f6f6f;
}

/* content - our wine */
.brands-menu {
	background-color: #b3995d;
	padding: 32px;
}
.brands-menu > div {
	text-align: center;
	padding: 0 100px;
}
.brands-menu .menu-item {
	display:inline-block;
	padding: 15px 0;
	margin: 3px 0;
}
.brands-menu .menu-item a {
	padding: 20px;
	margin: 0 35px;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 14px;
	letter-spacing: .085em;
	text-transform: uppercase;
}
.brands-menu .menu-item a:hover {
	background: #c2ad7d;
	border-radius: 3px;
}
.box-wines {
	padding: 30px 45px;
}
.box-wine {
	margin: 25px 15px;
	background: #fff;
	position:relative;
}

.box-wine .arrow {
	position: absolute;
	top: 0;
	right: 0;
	opacity: 0;
}

.box-wine .description {
	padding: 40px;
}

.box-wine.hover .arrow, .box-wine:hover .arrow{
	opacity: 1;
}

.box-wine.hover figure img, .box-wine:hover figure img {
	opacity: .8;
}

#brandtypes {
	position: relative;
}

.box-label {
	text-align: center;
	padding: 40px;
	position: relative;
	cursor: pointer;
}
.box-label h3 {
	font-family: NewBaskervilleStd-Roman;
	font-size: 22px;
	color: #8b8178;
	line-height: 28px;
}
.box-label h3 span {
	color: #000;
}
.box-label .more {
	width: 152px;
	height: 152px;
	border-radius: 76px;
	background-color: #8b8178;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%, -50%);
}

.box-label .more div {
	font-family: 'Open Sans', sans-serif;
	font-size: 19px;
	font-weight: 600;
	letter-spacing: .095em;
	color: #fff;
	text-transform: uppercase;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%, -50%);
}

.box-label .arrow {
	position: absolute;
	bottom: -63px;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	display: none;
}

.box-label:hover .more, .box-label:hover img {
	opacity: .9;
}

#brand-details {
	display: none;
    position: absolute;
    top: 100px;
    width: 100vw;
    left: calc(-50vw + 50%);
    z-index:3
}
#brand-details .row {
	display: none;
}
#brand-details .container {
	position: relative;
}

#brand-details #close {
	position: absolute;
	top: 0;
	right: 40px;
	z-index: 100;
}
#brand-details .col-md-10 {
	padding-right: 50px;
}

#brand-details h3 {
	font-size: 36px;
	margin-bottom: 20px;
}
#brand-details h3 span {
	font-family: NewBaskervilleStd-Roman;
}
#brand-details h3 span.subtitle {
	font-family: 'NewBaskervilleStd-Italic';
}
#brand-details h4 {
	margin-top: 20px;
}
	
/* content - contact */
#contact {
	background: #d7d7d7;
}
#contact .container {
	padding: 80px 65px;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}
#contact .col-md-6 {
	padding: 0 50px;
}
#contact .social-links {
	font-size: 26px;
	display: block;
	margin-left: -12px;
}
#contact .gold {
	color: #b3995d;
}
#contact .email a {
	color: #000;
}
#contact textarea {
	height: 250px;
}
/* figure fx */
figure.more, figure.box, figure.wine {
	width: 100%;
	position:relative;
	text-align: center;
} 
figure.wine {
	padding-bottom: 20px;
}
figure.more img, figure.box img {
	width: 100%;
}

figure.more figcaption {
	position: absolute;
	top: 50%;
	left: 50%;
    transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}

figure.box figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    z-index: 2;
    height:100%;
    background-color:rgba(0,0,0,.5);
    opacity: 0;
    font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	line-height: 20px;
	text-align: left;
	color: #fff;
	padding: 30px;
}

figure.blog figcaption {
    background-color:rgba(255,255,255,.8);
    padding: 0;
}

figure.blog figcaption div {
    font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: .04em;
	color: #6d6258;
	text-align: center;
	position: absolute;
	top: 50%;
    transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
    padding: 15px;
}

figure.blog figcaption h3 {
	font-family: NewBaskervilleStd-Roman;
	font-size: 40px;
	line-height: 38px;
	color: #000;
	margin-bottom: 10px;
}

figure.blog figcaption span {
	text-transform: uppercase;
}

figure.box:hover figcaption, figure.box figcaption.tapped {
 	opacity: 1;
}

/* home page - social */
#social .container {
	padding: 90px 0 70px;
	text-align: center;
}

.instagram-lg {
	margin-bottom: 25px; 
	font-size: 80px;
}

.video {
	margin: 45px 90px 105px;
}

.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:0px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video object, .video embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

/* footer */
#footer {
	background: #8b8178;
	color: #fff;
	letter-spacing: .03em;
}

#footer .container {
	padding: 70px 75px;
}

#footer h2 {
	font-size: 38px;
	letter-spacing: .02em;
}

#footer h3 {
	font-size: 32px;
	letter-spacing: .02em;
}

#footer hr.thin {
	border: 0;
	border-top: 1px solid #959595;
	width: 100%;
}

#footer a {
	color: #b3995d;
}

#footer .subscribe {
	font-family: 'Open Sans', sans-serif;
	padding: 20px 0 50px;
	font-size: 14px;
}

#footer input[type='text'], #footer input[type='email'] {
	background: #71685f;
	color: #fff;
	margin-bottom: 15px;
}

#footer .bottom {
	padding: 30px 0;
	text-align: center;
	background: #6d6258;
}

#footer .social-links {
	padding-top: 10px;
	margin-left: -20px;
}
#footer .social-links a {
	margin: 5px;
}

#footer .social-links a:hover {
	color: #bba36e;
}

#footer .icon-facebook, #footer .icon-youtube-1 {
	font-size: 31px;
	margin-right: -5px;
}
#footer .icon-twitter, #footer .icon-instagram-1 {
	font-size: 33px;
}

.stamp {
	float:right;
	margin-top: 20px;
}

/* return to top */
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(99, 99, 99);
    background: rgba(99, 99, 99, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 9999;
    padding: 0;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 12px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

/* misc */
.pv-55 { padding-top: 55px; padding-bottom: 55px; }
.pv-70 { padding-top: 70px; padding-bottom: 70px; }
.pv-100 { padding-top: 100px; padding-bottom: 100px; }
.ph-70 { padding-right: 70px; padding-left: 70px; }
.mt-25 { margin-top: 25px; }
.mb-25 { margin-bottom: 25px; }
.mb-40 { margin-bottom: 40px; }
.mb-70 { margin-bottom: 70px; }
.nowrap { white-space: nowrap; }

.white-link a {
	color: #fff;
}
.black-link a {
	color: #000;
}

#header, #header .container, a, .btn, .dropdown-menu, .social-links a, .home-page img, .menu-button, .logo, figure.box figcaption, #contactDiv,.brands-menu a, .box-wine .arrow, figure img, .box-label .more {
	transition: all .3s;
	-webkit-transition: all .3s; 
}

.menu-body .social-links a:hover, .menu-button:hover, .logo:hover, #close:hover {
	opacity: .7
}

#subscribeDiv, #contactDiv {
	display: inline-block;
	font-weight: 600;
}

.grecaptcha-badge {
	display: none;
}

/* bootstrap overwrites */

.btn, input[type='text'], input[type='email'], input[type='password'], textarea { border-radius: 0!important; }

label {
	font-size: 14px;
	font-weight: 300;
}

@media (max-width: 767px) {
	/* header */
	.menu-button {
		right: 10px;
	}
	.menu-body {
		padding: 45px 0;
	}
	/* typography */
	h1 {
		font-size: 30px;
	}
	h2 { 
		font-size: 26px; 
		line-height: 34px;
	}
	
	h3 {
		font-size: 18px;
	}
	h3 span {
		font-family: NewBaskervilleStd-Italic;
	}
	h4 {
		font-family: 'Open Sans', sans-serif;
		font-weight: 800;
		font-size: 14px;
		text-transform: uppercase;
	}
	.container > p {
		padding: 25px 20px 0;
	}
	
	/* banner */
	.banner, .banner-home {
		padding: 0;
		overflow: hidden;
	}
	.banner-home .banner-text {
		top: 40px;
	}
	.banner-home h1 {
		font-size: 36px;
		margin-bottom: 20px;
	}
	
	.banner-home a {
		font-size: 14px;
	}
	.banner > img, .banner-home > img {
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
		width:auto;
		height:250px;
	}
	
	/* content */
	.home-page {
		margin: 28px 0;
	}
	

	/* home page - social */
	#social .container {
		padding: 50px 0 20px;
		text-align: center;
	}
	
	.video {
		margin: 45px 20px 55px;
	}
	
	#instafeed {
		margin: 10px;
	}
	
	#instafeed > div {
		padding: 10px;
		float: left;
		width: 50%;
	}

	figure.box figcaption {
		padding: 20px;
	}

	/* our wine */
	.brands-menu .menu-item {
		display: block;
		margin: 5px 0;
	}
	.box-wines {
		padding: 30px 0;
	}
	.box-wine {
		margin: 25px 15px;
		padding: 20px 30px 40px;
	}
	
	.box-wine .arrow {
		position: absolute;
		top: 0;
		right: 30px;
		opacity: 0;
	}
	
	#brand-details .col-md-10 {
		padding-right: 15px;
	}
	
	#brand-details #close {
		top: -30px;
		right: 20px;
	}
	
	#brand-details h3 {
		font-size: 26px;
		margin-bottom: 20px;
	}

	/* contact */
	#contact .container {
		padding: 50px 20px;
	}
	#contact .col-md-6 {
		padding: 0 15px;
	}

	/* footer */
	#footer .container {
		padding: 50px 20px;
	}
	
	#footer h2 {
		font-size: 30px;
	}
	
	#footer h3 {
		font-size: 26px;
	}
	
	#footer .bottom {
		padding: 30px;
	}

	#footer .icon-facebook, #footer .icon-youtube-1 {
		font-size: 25px;
		margin-right: -5px;
	}
	#footer .icon-twitter, #footer .icon-instagram-1 {
		font-size: 26px;
	}
	
	/* misc */
	.pv-55 { padding-top: 35px; padding-bottom: 35px; }
	.pv-70 { padding-top: 50px; padding-bottom: 50px; }
	.pv-100 { padding-top: 70px; padding-bottom: 70px; }
	.ph-70 { padding-right: 20px; padding-left: 20px; }
	.mt-25 { margin-top: 25px; }
	.mb-25 { margin-bottom: 25px; }
	.mb-40 { margin-bottom: 30px; }
	.mb-70 { margin-bottom: 50px; }
}
@media (max-width: 1199px) {
	.full-1200 .col-md-5 {
		width: 100%;
	}
}
@media (max-width: 1279px) {
	/* content - our land */
	.ourland img {
		width: 100%;
	}
	
	.ourland {
		display: block!important;
	}
	
	.ourland .col-1 {
		width: 100%;
	}
	
	.ourland .col-1.even {
		position: static;
	}
	
	.ourland .col-2 {
		width: 100%;
	}
	
	.ourland .text {
		position: absolute;
		top: 35px;
		transform: translate(0,0);
		-webkit-transform: translate(0,0);
		max-width: 100%;
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		line-height: 30px;
		padding: 40px 20px;
	}
	
	.ourland .odd .text, .ourland .text {
		left: 0;
		right: 0;
	}

	.nowrap { white-space:normal; }

}

@media (max-width: 1366px) {
	.brands-menu {
		padding: 32px 0;
		margin: 0 -100px;
	}
	.brands-menu li {
		padding: 20px;
		margin: 0 20px;
	}
}
	
}